.mytable{
  text-align: center;
} 
.container-hao{
  /*background-color: rgba(222, 220, 209, 1);*/
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

/* --- header --- */
#navImg img{
  max-width: 240px;
  padding-left: 5px;
  padding-right: 5px;
}
#logoImg img{
  max-width: 960px;
  padding: 5px;
}
#homeImg img{
  width: 720px;
  padding: 10px;
}







/* --- calendar --- */
.calendar{
  position: relative;
  width: 720px;
  height: 420px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-image: url(http://127.0.0.1/269/images/BG_calendar.png);
  background-repeat: no-repeat;
  background-size: 720px 420px;
}
#calendar-title{
  height: 80px;
  padding: 10px;
  margin-top: 20px;
  font-family: DFKai-sb;

}

#calendar-prev img{
  height: 60px;
  margin-top: 20px;
  /*background-image: url(images/calendarPrev.png);*/
}
#calendar-next img{
  height: 60px;
  margin-top: 20px;
  /*background-image: url(images/calendarNext.png);*/
}
.body-list ul{
  width:100%;
  text-align: center;
  font-family:arial;
  font-weight:bold;
  font-size:14px;
}
.body-list ul li{
  width:13%;
  height:36px;
  line-height:36px;
  list-style-type:none;
  display:block;
  box-sizing:border-box;
  float:left;
  text-align:center;
}
.lightgrey{
  color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
  color:#565656; /*深灰色*/
}
.green{
  color:#6ac13c; /*绿色*/
}
.greenbox{
  border:1px solid #6ac13c;
  background:#e9f8df; /*浅绿色背景*/
}
.ttt {
  width: 100%;
  padding: 10px;
}

.ttt td{
  width: 14.2857%;
  height:36px;
  line-height:36px;
  list-style-type:none;
  display:block;
  box-sizing:border-box;
  float:left;
  text-align:center;
  font: 1.5em "Arial", bold;
}






/*



#food img{
  position: relative;
}

img#food0{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40%;
}
img#food1{
  position: absolute;
  left: 40%;
  top: 25%;
  width: 20%;
}
img#food2{
  position: absolute;
  left: 60%;
  top: 13.33%;
  width: 20%;
}
img#food3{
  position: absolute;
  left: 60%;
  top: 40%;
  width: 40%;
}
img#food4{
  position: absolute;
  left: 20%;
  top: 66.66%;
  width: 40%;
}
img#food5{
  position: absolute;
  left: 0px;
  top: 560px;
  width: 20%;
}
img#food6{
  position: absolute;
  left: 480px;
  top: 480px;
  width: 20%;
}
img#food6{
  position: absolute;
  left: 480px;
  top: 480px;
  width: 20%;
}
img#food6{
  position: absolute;
  left: 480px;
  top: 480px;
  width: 20%;
}
*/